{% extends 'base.html' %}
{% load static %}

{% block title_name %}
    Регистрация
{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Регистрация</h1>
  <form method="post" class="space-y-4">
    {% csrf_token %}
    <div class="space-y-2">
      {{ form.as_div }}
    </div>
    <button type="submit" class="bg-red-900 text-white px-4 py-2 rounded hover:bg-main">Зарегистрироваться</button>
  </form>
  <a href="{% url 'login_page' %}" class="text-gray-600 hover:underline mt-4 inline-block">Авторизоваться</a>
  <a href="{% url 'main' %}" class="text-gray-600 hover:underline mt-4 inline-block">Назад</a>
</div>
{% endblock %}
