{% extends "base.html" %}
{% load static %}

{% block title_name %}
Удалить тип продукта
{% endblock %}

{% block content %}
<div class="container mx-auto p-4 max-w-lg">
  <h1 class="text-3xl font-bold mb-4">Удалить тип продукта</h1>
  <p class="mb-4">Вы уверены, что хотите удалить "{{ producttype.name }}"?</p>
  <form method="post" class="flex justify-end">
    {% csrf_token %}
    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Подтвердить</button>
  </form>
  <a href="{% url 'producttype_list' %}" class="text-blue-500 hover:underline block mt-4">Отмена</a>
</div>
{% endblock %}
