{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}

{% block title_name %}
Корзина
{% endblock %}

{% block content %}
      <div
        class="max-w-md w-full space-y-8 bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-3xl font-extrabold text-gray-900">Корзина</h2>
        <div>
          <p class="text-gray-600">Ваша корзина пуста.</p>
        </div>
        <a
          href="{% url 'product' %}"
          class="inline-block bg-main text-white px-4 py-2 rounded hover:bg-gray-900 focus:outline-none"
        >
          Перейти к покупкам
        </a>
      </div>
{% endblock %}