{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Магазинчик</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <header class="bg-main text-white shadow-md">
    <nav
      class="container mx-auto flex justify-between items-center py-8 max-w-[1280px]"
    >
      <div class="flex items-center space-x-2">
        <h1 class="text-2xl md:text-2xl font-dela">GREEN BITE</h1>
      </div>
      <ul class="hidden md:flex space-x-6 justify-center">
        <li>
          <a href="{% url 'base' %}" class="hover:text-dop-text">Главная</a>
        </li>
        <li class="relative group">
          <a class="hover:text-dop-text">О компании</a>
          <ul
            class="absolute hidden group-hover:block bg-white text-black shadow-md"
          >
            <li>
              <a
                href="{% url 'contacts' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Контакты</a
              >
            </li>
            <li>
              <a
                href="{% url 'find-us' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Как нас найти</a
              >
            </li>
          </ul>
        </li>
        <li class="relative group">
          <a class="hover:text-dop-text">Товары</a>
          <ul
            class="absolute hidden group-hover:block bg-white text-black shadow-md"
          >
            <li>
              <a
                href="{% url 'categories' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Категории</a
              >
            </li>
            <li>
              <a
                href="{% url 'products' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Все товары</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="{% url 'cart' %}" class="hover:text-dop-text">Корзина</a>
        </li>
      </ul>
      <div class="md:hidden">
        <button class="text-white focus:outline-none">
          <svg
            class="h-6 w-6"
            fill="none"
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </nav>
  </header>
  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div
      class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8"
    >
      <div
        class="max-w-md w-full space-y-8 bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-3xl font-extrabold text-gray-900">Корзина</h2>
        <div>
          <p class="text-gray-600">Ваша корзина пуста.</p>
        </div>
        <a
          href="{% url 'products' %}"
          class="inline-block bg-main text-white px-4 py-2 rounded hover:bg-gray-900 focus:outline-none"
        >
          Перейти к покупкам
        </a>
      </div>
    </div>
  </body>
</html>
