{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}

{% block title_name %}
Найти нас
{% endblock %}

{% block content %}
    <div class="min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
      <div
        class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg space-y-6"
      >
        <div class="text-center">
          <h2 class="text-3xl font-extrabold text-gray-900">Как нас найти</h2>
        </div>
        <div class="space-y-4">
          <p class="text-gray-700">
            Мы находимся по адресу:
            <strong>ул. Советская, 18, Москва, Россия</strong>
          </p>
          <p class="text-gray-700">
            Часы работы:
            <strong>Пн-Пт 9:00 - 18:00, Сб-Вс 10:00 - 16:00</strong>
          </p>
        </div>
        <div class="flex justify-center">
          <div id="map" class="w-full h-64 rounded-lg shadow-md"></div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var map = L.map("map").setView([55.7558, 37.6173], 13);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution: "&copy; OpenStreetMap contributors",
        }).addTo(map);

        L.marker([55.7558, 37.6173])
          .addTo(map)
          .bindPopup("Мы находимся здесь!")
          .openPopup();
      });
    </script>
    {% endblock %}